NODE_ENV=development
PORT=3000

POSTGRES_USER=deuna
POSTGRES_PASSWORD=change_me
POSTGRES_DB=deuna_loyalty
DATABASE_URL=postgresql://deuna:change_me@localhost:5434/deuna_loyalty

REDIS_URL=redis://localhost:6379

JWT_SECRET=change_me_with_a_long_random_string
JWT_EXPIRATION=3600

# Antifraud: velocity limit window in seconds (4 hours)
ANTIFRAUD_VELOCITY_WINDOW_SECONDS=14400
